*, *:before, *:after {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    font-family: sans-serif;
}

li, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

:root {
    /*colors*/
    --main-text-color: #000;
    --main-bg-color: #686dbe;
    --main-btn-color: #bcaa4c;

    /*fz*/
    --heading--big: 20px;
    --heading--medium: 18px;
    --heading--small: 16px;

    /*vars*/
    --defult-transition: .3s;
    --border-radius: 10px;
}